*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Roboto, Helvetica, sans-serif;
}
.tictactoe-page {
    min-height: 100vh;
    background-color: #283048;
    padding: 50px 10px 10px;
    color: #f1f1f1;
    text-align: center;
}
.tictactoe__main-title {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 50px;
}
.tictactoe__main-title--style {
    font-size: 42px;
    font-weight: 400;
}
.tictactoe__cells-container {
    max-width: 400px;
    margin: 0 auto 52px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    border: 10px solid #c7c6c6;
    border-radius: 5px;
    background-color: #c7c6c6;
}
.tictactoe__cell {
    aspect-ratio: 1 /1;
    background-color: #161c38;
    color: #f1f1f1;
    cursor: pointer;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tictactoe__cell:hover {
    background-color: #313f7e;
}
.tictactoe__info {
    font-size: 28px;
    font-weight: 300;
}