*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Lato, sans-serif;
}
.pomodoro {
    min-height: 100vh;
    background-image: linear-gradient(to right, #70e1f5, #ffd194);
    padding: 50px 10px;
    color: #161616;
}
.pomodoro__title {
    text-align: center;
    font-weight: 300;
    font-size: 48px;
    margin: 10px 0 50px 10px;
}
.pomodoro__title--style {
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}
.pomodoro__info {
    display: flex;
    max-width: 750px;
    margin: 0 auto 50px;
}
.pomodoro__info-block {
    width: 50%;
    font-size: 32px;
    padding: 35px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.pomodoro__description {
    font-size: 40px;
    margin-bottom: 5px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}
.pomodoro__description::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #111;
    transform-origin: left;
    transform: translateX(-100%);
}
.js-active-pomodoro::after {
    animation: loading 1s ease-out infinite;
}
@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}
.pomodoro__worktime,
.pomodoro__restime {
    font-family: Inconsolata, sans-serif;
}
.pomodoro__festures {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.pomodoro__button {
    width: 75px;
    height: 75px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);;
}
.pomodoro__button-img {
    width: 50%;
}
.pomodoro__cycles {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}